body {
  font-family: 'Montserrat';
  background-color: #404040;
  color:#cfcfcf;
  
}

.active {
  background-color: #595959;
}


.topnav {
  overflow: hidden;
  background-color: #333333;
  position: sticky;
  top: 10px;
  width: 100%;
  border-radius: 20px;
}

.topnav a {
  position: sticky;
  display: block;
  color: white;
  padding: 14px 16px;
  margin: 10px;
  margin-left:5px;
  text-decoration: none;
  border: 2px solid #cfcfcf;
  border-radius: 20px;
  background-color: #333333;
  float: right;
  font-size: 20px;
  
}

nav a:hover {
  background-color: #111111;
}

.title {
  font-size: 70px;
  margin: 0;
  margin-top:10px
}
p {
  font-size: 20px;
}